<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About myself</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="page">
        <div id="telling-div">
            <img src="profile.jpeg" class="profile">
            <div class="telling">
                <h1>Hello!</h1>
                <p>I'm Lee Dong Ju attending 경희 University</p>
                <p>Glad to meet you.</p>
            </div>
        </div>
        <div class="row-div">
            <div class="information">
                <h2>Profile</h2>
                <div class="white-bar" style="position: absolute; top: 14%; left: 0.1%; width: 99%;"></div>
                <ul>
                    <li>이름 : 이동주</li>
                    <li>생년월일 : 2025-04-25</li>
                    <li>본가 : 울산광역시</li>
                    <li>전화번호 : 010-5824-2542</li>
                    <li>Email : movingju06@khu.ac.kr</li>
                    
                </ul>
            </div>
            <div class="information">
                <h2>Career</h2>
                <div class="white-bar" style="position: absolute; top: 14%; left: 0.1%; width: 99%;"></div>
                <ul>
                    <li> - 2018 : 광령초등학교 졸업</li>
                    <li>2019 - 2021 : 야음중학교 졸업</li>
                    <li>2022 - 2024 : 대현고등학교 졸업</li>
                    <li>2025 - : 경희대학교 인공지능학과 입학</li>
                </ul>
            </div>
            <div class="information">
                <h2>Interests</h2>
                <div class="white-bar" style="position: absolute; top: 14%; left: 0.1%; width: 99%;"></div>
                <ul>
                    <li>취미 : 코딩</li>
                    <li>좋아하는 것 : 강아지, 게임</li>
                    <li>싫어하는 것 : 술</li>
                    <li>장점 : 일과 취미의 결합</li>
                    <li>단점 : 일과 취미의 결합</li>
                </ul>
            </div>
            <div class="information">
                <h2>Tech Stack</h2>
                <div class="white-bar" style="position: absolute; top: 14%; left: 0.1%; width: 99%;"></div>
                <ul>
                    <li>Main : Python</li>
                    <li>Additional : C++, Html, Css, JavaScript, ...</li>
                    <li>Interests : AI Model building</li>
                    <li>Code editor : Always VSCode</li>
                    <li>Github : <a href="https://github.com/MovingJu">My Github Link</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>